html {
  font-size: {{theme.typography.body_text.size}}{{theme.typography.body_text.size_unit}};
}

body {
  font-family: {{theme.typography.body_text.font}}, sans-serif;
  color: {{theme.typography.body_text.color}};
  margin: 0;
  line-height: 1.4;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */
p {
  font-size: {{theme.typography.body_text.size}}{{theme.typography.body_text.size_unit}};
  line-height: {{theme.typography.body_line_height}};
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 700;
}

/* Anchors */
a {
  color: {{theme.typography.link_color.color}};
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: {{theme.global_fonts.secondary_font.font}}, serif;
  font-weight: 700;
  margin: 0 0 1.4rem;
}

h1 {
  font-family: {{theme.typography.heading_one.font}}, sans-serif;
  font-size: {{theme.typography.heading_one.size}}{{theme.typography.heading_one.size_unit}};
  color: {{theme.typography.heading_one.color}};
  font-style: {{theme.typography.heading_one.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_one.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_one.styles.get("text-decoration")}};
}

h2 {
  font-family: {{theme.typography.heading_two.font}}, sans-serif;
  font-size: {{theme.typography.heading_two.size}}{{theme.typography.heading_two.size_unit}};
  color: {{theme.typography.heading_two.color}};
  font-style: {{theme.typography.heading_two.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_two.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_two.styles.get("text-decoration")}};
}

h3 {
  font-family: {{theme.typography.heading_three.font}}, sans-serif;
  font-size: {{theme.typography.heading_three.size}}{{theme.typography.heading_three.size_unit}};
  color: {{theme.typography.heading_three.color}};
  font-style: {{theme.typography.heading_three.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_three.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_three.styles.get("text-decoration")}};
}

h4 {
  font-family: {{theme.typography.heading_four.font}}, sans-serif;
  font-size: {{theme.typography.heading_four.size}}{{theme.typography.heading_four.size_unit}};
  color: {{theme.typography.heading_four.color}};
  font-style: {{theme.typography.heading_four.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_four.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_four.styles.get("text-decoration")}};
}

h5 {
  font-family: {{theme.typography.heading_five.font}}, sans-serif;
  font-size: {{theme.typography.heading_five.size}}{{theme.typography.heading_five.size_unit}};
  color: {{theme.typography.heading_five.color}};
  font-style: {{theme.typography.heading_five.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_five.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_five.styles.get("text-decoration")}};
}

h6 {
  font-family: {{theme.typography.heading_six.font}}, sans-serif;
  font-size: {{theme.typography.heading_six.size}}{{theme.typography.heading_six.size_unit}};
  color: {{theme.typography.heading_six.color}};
  font-style: {{theme.typography.heading_six.styles.get("font-style")}};
  font-weight: {{theme.typography.heading_six.styles.get("font-weight")}};
  text-decoration: {{theme.typography.heading_six.styles.get("text-decoration")}};
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5rem;
  padding: 0 0 0 1.1rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 4px 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Blockquotes */
blockquote {
  border-left: 2px solid {{theme.global_colors.secondary_color.color}};
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */
hr {
  background-color: #CCC;
  border: none;
  color: #CCC;
  height: 1px;
}

/* Subscripts and superscripts */
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus styles */
:focus {
  outline: auto;
  outline-color: {{theme.global_colors.primary_color.color}};
}

.disable-focus-styles :focus {
  outline: none;
}
