@import '../settings/spacing';

.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $content-max-width;

  @media screen and (min-width: 1380px) {
    padding: 0;
  }
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: $dnd-section-padding;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: $content-max-width;
}

.dnd-section .dnd-column {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}
