@import '../tools/mixins';

/* Blog subscribe */

.blog-subscribe {
  $md-breakpoint: 768px;

  background-color: #F0F5FF; // theme
  padding: 80px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpoint($md-breakpoint) {
      display: block;
    }
  }

  &__header {
    flex-basis: 465px;
    flex-grow: 1;
    max-width: 680px;
  }

  &__form {
    flex-basis: 450px;
    margin-left: 32px;

    @include breakpoint($md-breakpoint) {
      margin: 32px 0 0;
    }
  }
}

