@import '../settings/colors';
@import '../tools/mixins';

.kl-cards-slider {
  $xs-breakpoint: 360px;
  $sm-breakpoint: 580px;

  $xs-padding: 16px 32px;
  $sm-padding: 16px 48px;

  position: relative;
  max-width: 848px;
  margin: 0 auto;

  &-wrapper {
    padding: 0 15px;
  }

  &__arrow {
    position: absolute;
    top: 20px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 11px 30px $card-shadow-color; // theme
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #3A3A3A; // theme
      display: block;
      width: 100%;
    }

    &--prev {
      left: 0;
      transform: translateX(-50%);
    }

    &--next {
      right: 0;
      transform: translateX(50%);
    }
  }

  &__card {
    display: none;
    overflow: hidden;

    border: .5px solid $card-border-color;
    box-shadow: 0px 11px 30px $card-shadow-color;
    border-radius: $card-border-radius;

    &--active {
      display: block;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3F3F3; // theme
    padding: $sm-padding;

    @include breakpoint($xs-breakpoint) {
      display: block;
      padding: $xs-padding;
    }
  }

  &__image {
    margin: 0 15% 0 0;
  }

  &__button {
    display: flex;

    @include breakpoint($xs-breakpoint) {
      margin: 16px 0 0;
    }
  }

  &__content {
    padding: $sm-padding;
    background-color: $card-background-color; // theme
    margin: 0 -22px;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($xs-breakpoint) {
      padding: $xs-padding;
    }

    @include breakpoint($sm-breakpoint) {
      display: block;
    }

    & > div {
      margin: 0 22px;
      flex-grow: 1;
      flex-basis: 200px;
    }

    h5 {
      color: $primary-color;
    }

    ul {
      padding-inline-start: 1.1em;
    }
  }
}
