@import '../settings/colors';
@import '../tools/mixins';

.kl-card-grid {
  $sm-breakpoint: 520px;
  $md-breakpoint: 768px;
  $self: &;
  // overflow: hidden;

  & > div {
    display: flex;
    flex-wrap: wrap;

    margin: -26px;
  }

  &__card-wrapper {
    display: flex;
    flex-basis: calc(100% / 3);
    padding: 26px;

    @include breakpoint($md-breakpoint) {
      flex-basis: calc(100% / 2);
    }

    @include breakpoint($sm-breakpoint) {
      flex-basis: calc(100% / 1);
    }
  }

  &__card {
    // max-width: 280px;
    width: 100%;
    border: 0.5px solid $card-border-color; // theme
    box-shadow: 0px 11px 30px $card-shadow-color; // theme
    background-color: $card-background-color; // theme
    border-radius: $card-border-radius; // theme
    overflow: hidden;
  }

  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 260px;
    width: 100%;
  }

  &__preheader {
    @include preheader;
    margin: 0 0 .5rem;
  }

  &__content {
    display: block;
    padding: 20px 24px;
    color: $text-color;
    text-decoration: none;

    h3, h4 {
      margin: 0 0 .5rem;
    }

    p {
      margin: 0;
    }

    &:hover, &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  &--4-columns {
    $sm-breakpoint: 520px;
    $md-breakpoint: 768px;
    $lg-breakpoint: 920px;

    & > div {
      margin: -24px -12px;
    }

    #{$self}__card-wrapper {
      flex-basis: calc(100% / 4);
      padding: 24px 12px;

      @include breakpoint($lg-breakpoint) {
        flex-basis: calc(100% / 3);
      }

      @include breakpoint($md-breakpoint) {
        flex-basis: calc(100% / 2);
      }

      @include breakpoint($sm-breakpoint) {
        flex-basis: calc(100% / 1);
      }
    }

    #{$self}__image {
      height: 220px; // fields?
    }
  }
}

