@import '../settings/colors';
@import '../tools/mixins';

.kl-rich-text {
  $sm-breakpoint: 480px;
  $self: &;

  &__preheader {
    @include preheader;
    margin: 0 0 .75rem;
  }

  h1 {
    color: $text-color;
  }

  p {
    margin: 0 0 1rem;

    &:last-child {
      margin: 0 0 2rem;
    }
  }

  &__buttons {
    margin: -10px;

    .button {
      margin: 10px;

      @include breakpoint($sm-breakpoint) {
        display: block;
      }
    }
  }

  &__form {
    max-width: 600px;
  }

  &--center {
    text-align: center;
    margin: 0 auto;

    #{$self}__form {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &--right {
    text-align: right;
    margin: 0 0 0 auto;

    #{$self}__form {
      margin: 0 0 0 auto;
    }
  }
}
