@import '../settings/colors';
@import '../tools/mixins';

.kl-faq {
  $sm-breakpoint: 480px;
  $self: &;

  background: #FFFFFF;
  border: 3px solid #F3F3F3;
  border-radius: 9px;

  &__entry {

    & + & {
      border-top: 3px solid #F3F3F3;
    }

    &--active {

      #{$self}__icon {
        transform: rotate(90deg);

        &:before {
          opacity: 0;
        }
      }
    }
  }

  &__header {
    padding: 24px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($sm-breakpoint) {
      padding: 24px 16px;
    }

    &:hover {
      cursor: pointer;
    }

    h3 {
      margin: 0;
    }
  }

  &__icon {
    $size: 18px;
    $thickness: 2px;

    position: relative;
    width:  $size;
    height: $size;
    flex-shrink: 0;
    margin-left: 32px;
    transition: transform .2s ease-out;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: $thickness;
      background-color: $text-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity .2s ease-out;
    }

    &:after {
      content: '';
      display: block;
      height: 100%;
      width: $thickness;
      background-color: $text-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__description {
    padding: 0 42px;
    height: 0;
    transition: height .25s ease-out;
    overflow: hidden;

    @include breakpoint($sm-breakpoint) {
      padding: 0 16px;
    }

    #{$self}__inner {
      margin: 0 0 2rem;
    }
  }
}
