@import '../settings/fonts';
@import '../tools/mixins';

.kl-hero-03 {
  $sm-breakpoint: 360px;
  $md-breakpoint: 768px;
  padding: 120px 0;
  overflow: hidden;

  @include breakpoint($md-breakpoint) {
    padding: 64px 0;
  }

  &__content {
    @include content-wrapper;
    position: relative;

    .kl-rich-text {
      max-width: 50%;

      @include breakpoint($md-breakpoint) {
        max-width: 100%;
      }
    }
  }

  &__image {
    position: absolute;
    left: calc(50% + 64px);
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($md-breakpoint) {
      position: static;
      transform: none;
      margin-top: 32px;
    }

    @include breakpoint($sm-breakpoint) {
      display: none;
    }

    img {
      display: block;
    }
  }

}
