@import '../settings/fonts';
@import '../tools/mixins';

.kl-hero-02 {
  $md-breakpoint: 960px;
  display: flex;
  padding: 64px 0;
  min-height: 50vh;

  &__content {
    @include content-wrapper;

    display: flex;
    align-items: center;

    @include breakpoint($md-breakpoint) {
      display: block;
    }

    .kl-rich-text {
      flex-basis: 300px;
      flex-grow: 1;
    }
  }

  &__image {
    margin-left: 32px;
    display: flex;
    flex-grow: 1;
    flex-basis: 480px;
    height: 100%;

    @include breakpoint($md-breakpoint) {
      max-width: 720px;
      margin: 32px auto 0;
      height: auto;
    }

    img {
      max-width: 100%;
      display: block;
    }

    &--left {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

  }

}
