@import '../tools/mixins';

.kl-hero-01 {
  $sm-breakpoint: 480px;
  $md-breakpoint: 768px;
  $lg-breakpoint: 1240px;

  position: relative;
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding: 64px 0;

  &__content {
    @include content-wrapper;
    position: relative;
    padding: 20px;
    padding-right: 50%;

    @include breakpoint($md-breakpoint) {
      padding: 20px; // reset to content-wrapper
    }

    @media screen and (min-width: $lg-breakpoint) {
      padding: 0; // reset to content-wrapper
    }

    & > div {
      max-width: 430px;

      @include breakpoint($md-breakpoint) {
        max-width: none;
      }
    }

  }

  &__image {
    position: absolute;
    width: 45%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    right: 0;
    transition: opacity .2s, width .5s;

    @include breakpoint($md-breakpoint) {
      opacity: .3;
      width: 100%;
    }
  }

}
