@import '../settings/colors';
@import '../settings/fonts';
@import '../tools/mixins';

$header-height: hubl('theme.header.height') + 'px';

$md-breakpoint: 920px;   // mobile menu
$lg-breakpoint: 1024px;

.kl-header {

  position: fixed;
  z-index: 12;
  width: 100%;

  // box-shadow: 0px 2px 12px -8px black;
  box-shadow: 0px 5px 10px rgba(154, 161, 177, 0.1); // theme
  background-color: $header-background-color;

  &-placeholder {
    height: $header-height;
  }
}

.kl-navbar {
  $self: &;

  height: $header-height;
  display: flex;
  align-items: center;

  @include breakpoint($md-breakpoint) {
    justify-content: space-between;

    &--active {

      #{$self}__content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__logo {
    width: auto;
    // height: 28px;
    display: block;
    margin-right: 42px;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($md-breakpoint) {
      background-color: $header-background-color;
      position: fixed;
      width: 100%;
      height: calc(100% - #{$header-height});
      left: 0;
      bottom: 0;
      padding: 45px 10%;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;

      visibility: hidden;
      opacity: 0;
      transform: translateY(8px);
      transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    @include breakpoint($md-breakpoint) {
      display: block;
      margin: 0 0 24px;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    margin: 0 32px;

    &--active {

      #{$self}__panel {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        @include breakpoint($md-breakpoint) {
          max-height: 100vh;
        }
      }

      #{$self}__button {
        color: $primary-color;

        & > span:after {
          visibility: visible;
          width: 100%;
        }
      }
    }

    @include breakpoint($lg-breakpoint) {
      margin: 0 16px;
    }

  }

  &__button {
    font-weight: bold;
    font-size: $header-font-size;
    font-family:: $header-font, sans-serif;
    line-height: 2em;
    word-break: normal;
    color: $header-font-color;
    display: inline-block;

    @include breakpoint($md-breakpoint) {
      font-size: 1rem;
    }

    & > span {
      position: relative;
      display: inline-block;
      padding: 8px 0;

      &:after {
        content: '';
        width: 0px;
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        bottom: 2px;
        visibility: hidden;
        transition: width .2s ease-in-out;
      }
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $primary-color;

      & > span:after {
        visibility: visible;
        width: 100%;
      }
    }

  }

  &__end {
    display: flex;
    align-items: center;

    a + a {
      margin-left: 25px;
    }
  }

  &__panel {
    background-color: $header-background-color;
    visibility: hidden;
    opacity: 0;
    transform: translateY(8px);
    transition: all .25s ease-in-out;

    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;

    // box-shadow: 0px 2px 12px -8px black;

    @include breakpoint($md-breakpoint) {
      position: static;
      max-height: 0;
      overflow: hidden;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 960px;
      margin: 0 auto;
      padding: 32px 0;
      justify-content: space-between;

      & > div {
        flex-basis: none;
      }
    }
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 650px;

    p {
      @include breakpoint($md-breakpoint) {
        display: none;
      }
    }
  }

  &__description {
    flex-basis: 250px;
    margin: 0 16px;
    color: $header-font-color;

    @include breakpoint($md-breakpoint) {
      margin: 0;
      flex-basis: 50%;
    }

    &--full {
      @include breakpoint($md-breakpoint) {
        flex-basis: auto;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: bold;
      margin: 0 0 .5rem;
    }

    h3 {
      font-size: 0.875rem;
      font-weight: bold;
      margin: 0 0 .5rem;
    }

    p {
      font-size: 0.875rem;
      margin: 0 0 1.75rem;
    }

    a {
      color: $header-font-color;

      &:hover, 
      &:focus {
        text-decoration: none;
        color: $primary-color;

      }
    }
  }

  .hamburger {
    $hamburger-layer-width: 24px;
    $hamburger-layer-height: 3px;
    $hamburger-layer-spacing: 5px;
    $hamburger-layer-color: #000000;

    display: none;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    min-width: auto;

    @include breakpoint($md-breakpoint) {
      display: block;
    }

    &:focus {
      outline: none;
    }

    &-box {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }

    &-inner {
      display: block;
      top: 50%;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      }

      &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      }
    }

    &--squeeze {
      .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
          transition: top 0.075s 0.12s ease,
          opacity 0.075s ease;
        }

        &::after {
          transition: bottom 0.075s 0.12s ease,
          transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }

      &.is-active {
        .hamburger-inner {
          transform: rotate(45deg);
          transition-delay: 0.12s;
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

          &::before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease,
            opacity 0.075s 0.12s ease;
          }

          &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease,
            transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
          }
        }
      }
    }

  }
}

/* Navbar submenu */

.kl-navbar-submenu-wrapper {
  position: absolute;
  left: -24px; // item left padding

  // Hidden by default
  visibility: hidden;

  @include breakpoint($md-breakpoint) {
    position: static;
    visibility: visible;
    display: none;
  }
}

.kl-navbar__item:hover > .kl-navbar-submenu-wrapper { 
  visibility: visible;
}

.kl-navbar-submenu {
  $self: &;

  background-color: $header-background-color;
  box-shadow: 0px 5px 10px rgba(154, 161, 177, 0.1); // theme

  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  width: 160px;

  @include breakpoint($md-breakpoint) {
    box-shadow: none;
    margin: 12px 0;
    width: auto;
  }

  & & {
    position: absolute;
    top: 0px;
    left: 100%;
    transform: translateX(0);
    margin: 0;

    // Hidden by default
    visibility: hidden;

    @include breakpoint($md-breakpoint) {
      position: static;
      visibility: visible;
      display: none;
      margin-left: 20px;
    }
  }

  &__item {
    position: relative;

    &:hover > #{$self} {
      visibility: visible;
    }

    a {
      display: block;
      padding: 12px 24px;

      font-weight: bold;
      font-size: $header-font-size;
      font-family:: $header-font, sans-serif;
      line-height: 1rem;
      word-break: normal;
      color: $header-font-color;

      &:hover, 
      &:focus {
        color: $primary-color;
        text-decoration: none;
      }

      @include breakpoint($md-breakpoint) {
        padding: 12px 0;
      }
    }
  }
}

.kl-navbar__parent {
  cursor: pointer;

  @media screen and (min-width: $md-breakpoint) {

    &:hover > a:after {
      transform: rotate(225deg);
    }
  }

  & > a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($md-breakpoint) {
      pointer-events: none;
    }

    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      margin-left: 16px;
      border-right: 1px solid $header-font-color;
      border-bottom: 1px solid $header-font-color;
      transform: rotate(45deg);
      transform-origin: 3px 3px;
      transition: transform .25s ease-in-out;
    }
  }

  &--active {

    & > .kl-navbar-submenu-wrapper,
    & > .kl-navbar-submenu {
      display: block;
    }

    & > a:after {
      transform: rotate(225deg);
    }

    & > a {
      color: $primary-color;

      & > span:after {
        visibility: visible;
        width: 100%;
      }
    }
  }

}
