@import '../settings/colors';
@import '../tools/mixins';

.kl-offer-01 {
  $md-breakpoint: 480px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  padding: 32px 36px 0;
  border: 1px solid #DAE3F9; // theme
  border-radius: 10px; // theme
  background-color: $card-background-color; // theme
  box-shadow: 0px 11px 30px $card-shadow-light-color; // theme

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 320px;
    flex-grow: 1;
    margin-bottom: 32px;
  }

  &__preheader {
    @include preheader;
    margin: 0 0 1rem;
  }

  &__text {
    flex-basis: 420px;
    flex-grow: 1;
    margin-right: 50px;

    @include breakpoint($md-breakpoint) {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 1.125rem;
    }
  }

  &__button {
    flex-shrink: 0;
  }

  &__image {
    flex-basis: 260px;
    margin: 0 auto;
    padding-right: 20px;
    
    @include breakpoint($md-breakpoint) {
      padding: 0;
    }

    img {
      display: block;
      width: 100%;
      max-width: 420px;
    }
  }
}
