@import '../tools/mixins';

.kl-features-01 {
  $md-breakpoint: 768px;

  display: flex;
  justify-content: space-between;

  @include breakpoint($md-breakpoint) {
    display: block;
  }

  &__card {
    flex-basis: 225px;
    flex-grow: 1;

    h4 {
      margin: 0 0 1rem;
    }

    p {
      font-weight: 500;
    }

    & + & {
      margin-left: 64px;

      @include breakpoint($md-breakpoint) {
        margin: 32px 0 0;
      }
    }
  }

  &__image {
    min-height: 50px;
    margin: 0 0 24px;
    display: flex;
    align-items: center;

    img {
      display: block;
      width: auto;
      max-height: 50px;
    }

    & > span {
      display: block;
    }

    svg {
      max-height: 50px;
      width: 50px;
      fill: $primary-color;
    }
  }
}
