@import '../settings/colors';
@import '../tools/mixins';

.kl-features-02 {
  $md-breakpoint: 530px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -16px;

  @include breakpoint($md-breakpoint) {
    display: block;
  }

  &-wrapper {
    overflow: hidden;
  }

  &__card {
    flex-basis: 225px;
    flex-grow: 1;
    margin: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      margin: 0;
      display: inline;
      vertical-align: top;
    }

    p {
      font-weight: 500;
      margin: 1rem 0 0;
    }
  }

  &__card-header {
    display: flex;
  }

  &__image {
    min-height: 24px;
    margin: 0 16px 0 0;
    display: inline-block;

    img {
      display: block;
      width: auto;
      max-height: 24px;
    }

    & > span {
      display: block;
    }

    svg {
      max-height: 24px;
      width: 24px;
      fill: $primary-color;
    }
  }
}
