@import '../settings/colors';
@import '../tools/mixins';

.kl-card {
  @include card;
  padding: 32px 25px;
  background-color: $card-background-color; // theme

  &__image {
    margin: 0 0 1.75rem;
  }

  &__form {
    max-width: 600px;
  }
}
