@import '../settings/colors';
@import '../tools/mixins';

$md-breakpoint: 920px;
$lg-breakpoint: 1024px;

.kl-testimonials {
  display: flex;

  @include breakpoint($md-breakpoint) {
    display: block;
  }
}

.kl-testimonial {
  padding: 18px 25px 25px;
  border: 0.5px solid $card-border-color;
  box-shadow: 0px 11px 30px $card-shadow-color;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  flex-grow: 1;
  flex-basis: 300px;

  & + & {
    margin-left: 64px;

    @include breakpoint($lg-breakpoint) {
      margin-left: 16px;
    }

    @include breakpoint($md-breakpoint) {
      margin: 16px 0 0;
    }
  }

  &__quote {
    margin: 0 0 25px;

    svg {
      fill: $primary_color;
      height: 32px;
      max-height: 32px;
    }
  }

  &__content {
    font-weight: 500;
  }

  &__footer {
    display: flex;
    align-items: center;

    img {
      display: block;
      object-fit: cover;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin: 0 16px 0 0;
    }
  }

  &__author {
    font-weight: bold;

    span {
      @include preheader;
      font-size: 0.75rem;
      margin: 0 0 8px;
    }
  }

}
