@import '../settings/colors';
@import '../tools/mixins';

$sm-breakpoint: 420px;
$md-breakpoint: 580px;

$entry-color: #1C2630;
$entry-offset: 10px;

@mixin bullet {
  content: '';
  background-color: $entry-color;
  display: block;
  position: absolute;
  top: $entry-offset;
  width: 10px;
  height: 10px;
  border-radius: 10px;

  @include breakpoint($md-breakpoint) {
    transform: translateX(-5px);
    left: 0;
  }
}

@mixin line {
  content: '';
  background-color: $entry-color; // theme
  display: block;
  position: absolute;
  top: $entry-offset;
  width: 1px;
  height: 100%;

  @include breakpoint($md-breakpoint) {
    left: 0;
  }
}

.kl-timeline {

  &__entry {
    position: relative;
    padding-bottom: 50px;

    h1, h2, h3, h4, h5 {
      color: $primary-color;
    }

    p {
      margin: 0 0 1rem;
    }

    &--odd {
      margin-right: 50%;
      padding-right: 50px;
      text-align: right;

      &:before {
        @include bullet;
        transform: translateX(4px);
        right: 0;
      }

      &:after {
        @include line;
        right: 0;
      }
    }

    &--even {
      margin-left: 50%;
      padding-left: 50px;

      &:before {
        @include bullet;
        transform: translateX(-5px);
        left: -1px;
      }

      &:after {
        @include line;
        left: -1px;
      }
    }

    &:last-child:after {
      display: none;
    }

    @include breakpoint($md-breakpoint) {
      margin: 0;
      padding: 0 0 50px 50px;
      text-align: left;
    }

    @include breakpoint($sm-breakpoint) {
      padding: 0 0 20px 20px;
    }
  }
}
