<!--
  templateType: page
  isAvailableForNewContent: true
  label: Product
  screenshotPath: ../images/template-previews/product.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Main section' %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 }, max_width=950 %}

      {% dnd_column padding={ left: 0, right: 0 }, vertical_alignment='MIDDLE' %}

        {% dnd_row padding={ 'bottom': 80 }, vertical_alignment='MIDDLE'  %}

          {% dnd_module path='../modules/Custom Rich Text', offset=0, width=5,
            preheader='PRODUCT',
            primary_cta={ type: 'btn', style: 'filled', text: 'GET A DEMO' },
            secondary_cta={ type: 'btn', style: 'outlined', text: 'TRY FREE' }
          %}
            {% module_attribute 'content' %}
              <h1>One tool for all your metrics</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}

          {% dnd_column offset=5, width=7, padding={ left: 32, right: 32 } %}

            {% dnd_row %}

              {% dnd_module path="@hubspot/video_embed_lp", url="https://www.youtube.com/watch?v=UWUGIIjx2-E" %}
              {% end_dnd_module %}

            {% end_dnd_row %}

          {% end_dnd_column %}

        {% end_dnd_row %}

        {% dnd_row %}

          {% dnd_module path='@hubspot/image', horizontal_alignment='CENTER'
            img={ 'alt': 'Results', 'size_type': 'auto', 'src': get_asset_url('../images/Dashboard.svg') } %}
          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Product Features section #}
    {% dnd_section %}

      {% dnd_column padding={ left: 0, right: 0 } %}

        {% dnd_row padding={ 'bottom': 64 } %}

          {% dnd_module path='../modules/Custom Rich Text', alignment='center',
            preheader='POWERFUL FEATURES'
            max_width={ enabled: true, value: 720 }
          %}
            {% module_attribute 'content' %}
              <h2>Works with your team and your campaigns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}

          {% dnd_module path="../modules/Product Features 02" %}
          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Logos section #}
    {% dnd_section background_color={ r: 248, g: 245, b: 240, a: 1 } %}

      {% dnd_module path='../modules/Logo Soup'
        image=[ 
          { 'src': get_asset_url('../images/Microsoft.svg') },
          { 'src': get_asset_url('../images/HubSpot.svg') },
          { 'src': get_asset_url('../images/Google.svg') },
          { 'src': get_asset_url('../images/Figma.svg') },
          { 'src': get_asset_url('../images/Slack.svg') },
          { 'src': get_asset_url('../images/Amazon.svg') }
        ]
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Product Features 03 #}
    {% dnd_section %}

      {% dnd_column padding={ left: 0, right: 0 } %}

        {% dnd_row padding={ 'bottom': 64 } %}

          {% dnd_module path='../modules/Custom Rich Text', preheader='OPTIMIZE YOUR NUMBERS' %}
            {% module_attribute 'content' %}
              <h2>Get the most out of your metrics</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}

          {% dnd_module path='../modules/Product Features 03' %}
          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# FAQ Section #}
    {% dnd_section %}

      {% dnd_column padding={ 'left': 0, 'right': 0 }%}

        {% dnd_row padding={ 'bottom': 48 } %}
          {% dnd_module path='../modules/Custom Rich Text', preheader='FAQ', %}
            {% module_attribute 'content' %}
              <h2>Need clarification?</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module path='../modules/FAQ' %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_module path='../modules/Custom Rich Text', alignment='center',
        primary_cta={ type: 'btn', style: 'filled', text: 'GET A DEMO' },
        secondary_cta={ type: 'btn', style: 'outlined', text: 'TRY FREE' }
      %}
        {% module_attribute 'content' %}
          <h2>One tool for all your metrics</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
