<!--
  templateType: page
  isAvailableForNewContent: true
  label: Resources
  screenshotPath: ../images/template-previews/resources.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Main section' %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_column padding={ left: 0, right: 0 } %}

        {% dnd_row padding={ bottom: 48 } %}

        {% dnd_module path='../modules/Custom Rich Text', preheader='RESOURCES',
          max_width={ enabled: true }
        %}
            {% module_attribute 'content' %}
              <h1>Resources and frameworks for your digital marketing approach</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}

        {% end_dnd_row %}

        {% dnd_row %}

          {# Featured Resources module #}
          {% dnd_module path='../modules/Featured Cards' %}
          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}

    {% end_dnd_section %}

    {# Offer Section #}
    {% dnd_section %}

      {% dnd_module path='../modules/Custom Rich Text', offset=0, width=4,
        preheader='LEARN',
        primary_cta={ type: 'btn', style: 'arrow', text: 'READ THE BLOG' }
      %}
        {% module_attribute 'content' %}
          <h2>Align marketing metrics with revenue</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

      {# Offer Bar 02 #}
      {% dnd_module path='../modules/Offer Bar 01', offset=4, width=8,
        image={ 'src': get_asset_url('../images/Guide.svg') }
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 243, g: 243, b: 243 } %}

    {% dnd_module path='../modules/Simple Card', offset=0, width=4,
        preheader='GUIDE',
        button={ text: 'DOWNLOAD', style: 'arrow' }
    %}

        {% module_attribute 'content' %}
          <h4>5 steps to managing effective KPIs for your SaaS marketing team</h4>
        {% end_module_attribute %}

      {% end_dnd_module %}

      {% dnd_module path='../modules/Simple Card', offset=4, width=4, 
        preheader='WEBINAR',
        button={ text: 'DOWNLOAD', style: 'arrow' }
      %}

        {% module_attribute 'content' %}
          <h4>How to create your first marketing dashboard</h4>
        {% end_module_attribute %}

      {% end_dnd_module %}

      {% dnd_module path='../modules/Simple Card', offset=8, width=4,
        preheader='WEBINAR',
        button={ text: 'DOWNLOAD', style: 'arrow' }
      %}

        {% module_attribute 'content' %}
          <h4>How to create your first marketing dashboard</h4>
        {% end_module_attribute %}

      {% end_dnd_module %}

    {% end_dnd_section %}

    {# Resources gallery section #}

    {% dnd_section %}

      {% dnd_module path='../modules/Four Column Card Grid',
        cards=[{ 
          image: { 'src': get_asset_url('../images/Placeholder-1.jpg') },
          content: '<h4>How to create your first marketing dashboard</h4>',
          preheader: 'EBOOK'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-2.jpg') },
          content: '<h4>5 steps to managing effective KPIs for your SaaS marketing team</h4>',
          preheader: 'INFOGRAPHIC'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-3.jpg') },
          content: '<h4>SaaS Marketing Best Practices: 4 Red Flags</h4>',
          preheader: 'VIDEO'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-4.jpg') },
          content: '<h4>The SaaS Sales & Marketing Acronym Bible</h4>',
          preheader: 'DEMO'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-5.jpg') },
          content: '<h4>3 traits of an effective marketing leader</h4>',
          preheader: 'WEBINAR'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-4.jpg') },
          content: '<h4>10 tips and tricks to write B2B SaaS website copy</h4>',
          preheader: 'WHITEPAPER'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-2.jpg') },
          content: '<h4>How to conduct a B2B marketing audit</h4>',
          preheader: 'GUIDE'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-3.jpg') },
          content: '<h4>How to build B2B SaaS landing pages that actually convert</h4>',
          preheader: 'VIDEO'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-4.jpg') },
          content: '<h4>4 steps to effective content syndication</h4>',
          preheader: 'EBOOK'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-5.jpg') },
          content: '<h4>5 steps to managing effective KPIs for your SaaS marketing team</h4>',
          preheader: 'INFOGRAPHIC'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-1.jpg') },
          content: '<h4>SaaS Marketing Best Practices: 4 Red Flags</h4>',
          preheader: 'VIDEO'
        }, { 
          image: { 'src': get_asset_url('../images/Placeholder-3.jpg') },
          content: '<h4>The SaaS Sales & Marketing Acronym Bible</h4>',
          preheader: 'DEMO'
        }]
      %}
      {% end_dnd_module %}

    {% end_dnd_section %}

    {% dnd_section background_color={ r: 241, g: 244, b: 249 } %}

      {% dnd_module path='../modules/Custom Rich Text', alignment='center',
        primary_cta={ type: 'btn', style: 'filled', text: 'GET A DEMO' },
        secondary_cta={ type: 'btn', style: 'outlined', text: 'TRY FREE' }
      %}
        {% module_attribute 'content' %}
          <h2>One tool for all your metrics</h2>
        {% end_module_attribute %}
      {% end_dnd_module %}

    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
