{# Macro to render a background color properly #}
{% macro render_color(color) -%}
  rgba({{color.color|convert_rgb}}, {{color.opacity != null ? color.opacity / 100 : 1}})
{%- endmacro %}

{# Macro to render an anchor tag from a group with a link field #}
{% macro render_link(anchor, classes) -%}

  {% if anchor.type == 'href' %}
    {% set attrs = { 'href': anchor.href | default('#', true) } %}

  {% else %}

    {% set attrs = { 'href': anchor.link.url.href | default('#', true) } %}

    {% if anchor.link.url.type is equalto "EMAIL_ADDRESS" %}
      {% do attrs.update({ 'href': 'mailto:' + href }) %}
    {% endif %}

    {% set rel = [] %}

    {% if anchor.link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}

    {% if anchor.link.open_in_new_tab %}
      {% do rel.append("noopener") %}
      {% do attrs.update({ 'target': '_blank' }) %}
    {% endif %}

    {% if rel %}
      {% do attrs.update({ 'rel': rel|join(' ') }) %}
    {% endif %}

  {% endif %}

  {% if classes %}
    {% do attrs.update({ 'class': classes }) %}
  {% endif %}

  <a {{ attrs|xmlattr }}>
    {{ caller() }}
  </a>

{%- endmacro %}

{# Macro to render a image from a image field #}
{% macro render_image(image, classes, default_src) -%}

  {% set attrs = { width: image.width, height: image.height } %}

  {% if image.size_type == 'auto' %}
    {% set attrs = { style: 'max-width: 100%; height: auto;' } %}

  {% elif image.size_type == 'auto_custom_max' %}
    {% set attrs = { 
      width: '100%', height: 'auto', 
      style: 'max-width: %spx; max-height: %spx'|format(image.max_width, image.max_height)
    } %}
  {% endif %}

  {% if image.loading != 'disabled' %}
    {% do attrs.update({ 'loading': image.loading }) %}
  {% endif %}

  {% if classes %}
    {% do attrs.update({ 'class': classes }) %}
  {% endif %}

  <img src="{{ image.src|default(default_src, true) }}" 
       alt="{{ image.alt }}" 
       {{ attrs|xmlattr }} />

{%- endmacro %}

{# Macro to render a button from a module field #}
{% macro render_button(btn, overwrite_class, suffix='button') -%}

  {% set href = btn.link | default('#', true) %}

  {% if overwrite_class %}
    {% set class = overwrite_class %}

  {% else %}
    {% set class = 'button' %}
    {% if btn.style == 'outlined' %}
      {% set class = class ~ ' button--outlined' %}
    {% elif btn.style == 'arrow' %}
      {% set class = class ~ ' button--arrow' %}
    {% endif %}

  {% endif %}

  {% set class = class ~ ' %s__%s'|format(name, suffix) %}

  {% require_css %}
  <style>
    {% if btn.background.overwrite %}
      .{{ name }}__{{ suffix }} {
        background-color: {{ render_color(btn.background.color) }};
      }
    {% endif %}

    {% if btn.background_hover.overwrite %}
      .{{ name }}__{{ suffix }}:hover {
        background-color: {{ render_color(btn.background_hover.color) }};
      }
    {% endif %}

    {% if btn.text_color.overwrite %}
      .{{ name }}__{{ suffix }} {
        color: {{ render_color(btn.text_color.color) }};
      }
      .{{ name }}__{{ suffix }} a {
        color: {{ render_color(btn.text_color.color) }};
      }
    {% endif %}

    {% if btn.text_hover_color.overwrite %}
      .{{ name }}__{{ suffix }}:hover {
        color: {{ render_color(btn.text_hover_color.color) }};
      }
      .{{ name }}__{{ suffix }}:hover a {
        color: {{ render_color(btn.text_hover_color.color) }};
      }
    {% endif %}

    {% if btn.border.overwrite %}
      .{{ name }}__{{ suffix }} {
        border-color: {{ render_color(btn.border.color) }};
      }
    {% endif %}

    {% if btn.border_hover.overwrite %}
      .{{ name }}__{{ suffix }}:hover {
        border-color: {{ render_color(btn.border_hover.color) }};
      }
    {% endif %}

  </style>
  {% end_require_css %}

  {% if btn.type == 'cta' and btn.cta %}
    
    <div class="{{ class }}">
      {% cta guid="{{ btn.cta }}" %}
    </div>

  {% elif btn.type == 'btn' %}

    {% call render_link(btn.anchor, class) %}
      <span>{{ btn.text }}</span>
    {% endcall %}

  {% endif %}

{%- endmacro %}

{# Macro to render custom rich text module from module fields #}
{% macro kl_rich_text(module) -%}

  {% set class = 'kl-rich-text' %}

  {% if module.alignment == 'center' %}
    {% set class = class ~ ' kl-rich-text--center' %}
  {% elif module.alignment == 'right' %}
    {% set class = class ~ ' kl-rich-text--right' %}
  {% endif %}

  {% set max_width = 'max-width: ' ~ module.max_width.value ~ 'px;' %}

  <div class="{{ class }}" 
    {% if module.max_width and module.max_width.enabled %} style="{{ max_width }}" {% endif %}>

    {% if module.preheader %}
      <span class="kl-rich-text__preheader">{{ module.preheader }}</span>
    {% endif %}

    <div>{{ module.content }}</div>

    {% if module.primary_cta.type != 'none' or module.secondary_cta.type != 'none' %}
      <div class="kl-rich-text__buttons">
        {{ render_button(module.primary_cta, suffix='primary_cta') }}
        {{ render_button(module.secondary_cta, suffix='secondary_cta') }}
      </div>
    {% endif %}

    {% if module.form.enabled %}
      <div class="kl-rich-text__form">
        {% form
          form_to_use="{{ module.form.selector.form_id }}"
          response_response_type="{{ module.form.selector.response_type }}"
          response_message="{{ module.form.selector.message }}"
          response_redirect_id="{{ module.form.selector.redirect_id }}"
          response_redirect_url="{{module.form.selector.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form.selector.gotowebinar_webinar_key }}"
        %}
      </div>
    {% endif %}
  </div>

{%- endmacro %}

