{% import '../macros.html' %}

{% macro render_item(item) -%}

  {# Path relative to macros.html #}
  {% set default_src = get_asset_url('../images/Logo.svg') %}
  {{ render_image(item.image, '', default_src) }}

{%- endmacro %}


<div class="kl-logos">
  {% for item in module.items %}
  <div class="kl-logos__item">
    {% if item.type == 'none' %}
      {{ render_item(item) }}
    {% else %}
      {% call render_link(item) %}
        {{ render_item(item) }}
      {% endcall %}
    {% endif %}
  </div>
  {% endfor %}
</div>
