@import '../tools/functions';

$card-background-color: color('theme.cards.background');
$card-border-color: color('theme.cards.border_color');
$card-shadow-color: color('theme.cards.box_shadow');
$card-shadow-light-color: color('theme.cards.box_shadow_light');

$card-border-radius: hubl('theme.cards.border_radius') + 'px';
