{% import '../macros.html' %}

<div class="kl-testimonials">
  {% for t in module.testimonials %}

    {% set attrs = {} %}
    {% if t.background.overwrite %}
      {% set attrs = {'style': 'background-color: ' ~ render_color(t.background.color) ~ ';'} %}
    {% endif %}

    <div class="kl-testimonial" {{ attrs | xmlattr }}>
      <div class="kl-testimonial__quote">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 33">
          <path d="M32.6 14.16a8.19 8.19 0 015.83 3.1 10.44 10.44 0 012.18 6.73c0 2.55-.85 4.67-2.54 6.37-1.7 1.7-4 2.55-6.92 2.55-2.8 0-5.04-.85-6.74-2.55-1.7-1.82-2.54-4.55-2.54-8.19 0-3.76 1.57-7.95 4.73-12.56 3.15-4.73 6.43-7.89 9.83-9.46.48-.25 1.21.06 2.18.9.97.86 1.46 1.58 1.46 2.19-3.52 2.43-6 6.07-7.46 10.92zm-21.1 0a8.04 8.04 0 015.63 3.1 10.44 10.44 0 012.19 6.73c0 2.55-.85 4.67-2.55 6.37-1.58 1.7-3.82 2.55-6.73 2.55-2.8 0-5.04-.85-6.74-2.55C1.6 28.54.75 25.81.75 22.17c0-3.76 1.52-7.95 4.55-12.56C8.46 4.88 11.8 1.72 15.31.15c.49-.25 1.22.06 2.19.9.97.86 1.45 1.58 1.45 2.19-3.51 2.43-6 6.07-7.46 10.92z"/>
        </svg>
      </div>
      <p class="kl-testimonial__content">{{ t.content }}</p>
      <div class="kl-testimonial__footer">
        {% if t.picture.src %}
          <img src="{{ t.picture.src }}" alt="{{ t.picture.alt }}" />
        {% endif %}
        <div class="kl-testimonial__author">
          <span>{{ t.position }}</span>
          {{ t.author }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
