{% set spacing = (module.spacing | int(52) ) // 2 %}

<div class="kl-card-grid kl-card-grid--4-columns">
  <div {% if module.overwrite_spacing %}style="margin: -{{ spacing }}px;"{% endif %}>
    {% for item in module.cards %}

      {% set href = item.link.url.href %}

      {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}

      {% set rel = [] %}
      {% if item.link.no_follow %}
        {% do rel.append("nofollow") %}
      {% endif %}

      {% if item.link.open_in_new_tab %}
        {% do rel.append("noopener") %}
      {% endif %}

      <div class="kl-card-grid__card-wrapper"
           {% if module.overwrite_spacing %} 
             style="padding: {{ spacing }}px;"
           {% endif %}
        >
        <div class="kl-card-grid__card">
          {% if item.image.src %}
            <a class="kl-card-grid__image" 
               style="background-image: url({{ item.image.src }});"
               {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
               {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
               href="{{ href }}">
            </a>
          {% endif %}
          <div class="kl-card-grid__content">
            {% if item.preheader %}
              <span class="kl-card-grid__preheader">{{ item.preheader }}</span>
            {% endif %}
            {{ item.content }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

