@import '../settings/colors';
@import '../settings/fonts';
@import '../tools/mixins';

$form-placeholder-color: #E4E4E4;

/* Form */

form, .submitted-message {
  font-family: $secondary-font, sans-serif; // should come from theme
}

.hs-form-field {
  margin: 0 0 1rem;
}

/* Labels */

form label {
  color: $form-label-font-color;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  padding-top: 0;
  margin-bottom: 0.35rem;
  text-align: left;
  width: auto;
}

/* Help text - legends */

form legend {
  color: $form-help-text-font-color;
  font-size: 0.875rem;
}

/* Inputs */

.input {
  position: relative;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=file],
select,
textarea {
  background-color: #FFF; // theme
  border: 1px solid #DADADA;

  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  padding: .75rem 1rem;
  width: 100%;

  border-color: $form-input-border-color;
  color: $body-font-color;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=file]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid $form-input-focus-border-color;
}

fieldset {
  max-width: 100% !important;

  &.form-columns-0,
  &.form-columns-1,
  &.form-columns-2,
  &.form-columns-3 {
    margin-left: -4px;
    margin-right: -4px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div {
      margin-left: 4px;
      margin-right: 4px;
    }

    .hs-form-field {
      flex-grow: 1;
      flex-basis: 135px;

      .input {
        margin-right: 0;
      }

      .hs-input {
        width: 100% !important;
      }

      input[type=checkbox],
      input[type=radio] {
        width: auto !important;
      }

    }

  }
}

/* Form placeholder text */

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
  color: $form-placeholder-color;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
  width: 100%;
}

.inputs-list input,
.inputs-list span {
  font-size: 0.875rem;
  vertical-align: middle;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.35rem;
  padding: 0;
  width: auto;

  & + label {
    display: inline-block;
    vertical-align: top;
  }
}

/* Inputs - datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: $form-placeholder-color;
  content:'\01F4C5';
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fn-date-picker {

  button, .button {
    min-width: auto;
  }

  .pika-table thead th {
    color: #FFF;
    background-color: $primary-color;
  }

  td.is-today .pika-button {
    color: $primary-color;
  }

  td.is-selected .pika-button {
    background: $primary-color;
    border-radius: 0;
    box-shadow: none;
  }

  td .pika-button:hover {
    background: $primary-color !important;
    border-radius: 0 !important;
    color: #FFF;
  }
}


/* Inputs - file picker */

input[type=file] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: 0.875rem;
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

h3.form-title {
  color: $form-title-font-color;
}

/* GDPR */

.legal-consent-container {
  margin: 0;

  .hs-form-booleancheckbox-display {
    & > span,
    & > span p {
      font-size: 0.875rem;
    }
  }
}

/* Validation */

.hs-form-required {
  color: red;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
}

.hs-error-msg {
  color: #EF6B51;
  margin-top: 0.35rem;
  font-weight: normal;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  // default "Get Free Widget" form (renders when no form is passed to the form HubL tag) 
  // is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling
  @include primary-button;
  // min-width: 135px;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0;
  max-width: 100%;
}

