.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: {{theme.spacing.max_width}}px;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{theme.spacing.vertical_spacing}}px 20px;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: {{theme.spacing.max_width}}px;
}

.dnd-section .dnd-column {
  padding: 0 20px;
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}
