<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Boilerplate - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="systems-page">
    <div class="systems-page__content">
      {% module 'backup_unsubscribe'
        extra_classes='backup-unsubscribe',
        path='@hubspot/email_simple_subscription',
        header='Unsubscribe',
        input_help_text='Email:',
        input_placeholder='email@example.com',
        button_text='UNSUBSCRIBE'
      %}
    </div>
  </section>
</main>
{% endblock body %}
