<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Boilerplate - reset password
  screenshotPath: ../../images/template-previews/membership-reset-password.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">

  <section class="systems-page systems-page--membership">

    <div class="systems-page__content">

      <h1>Reset your password</h1>
      <p>Enter a new password for your account.</p>
      <div class="form-container">
        {% password_reset 'my_password_reset'
          password_confirm_label='Confirm Password',
          password_label='Password',
          submit_button_text= 'RESET PASSWORD'
        %}
      </div>

    </div>

  </section>

</main>
{% endblock %}
